.mdl-layout__header {
  .mdl-layout__header-row {
    position: relative;
  }
  &.mdl-layout__header--transparent  {
    color: rgba(#000, 0.84);
    .mdl-layout__drawer-button {
      color: rgba(#000, 0.84);
    }
  }

  .mdl-switch {
    flex: 0.1;
    .mdl-switch__thumb {
      background: #999;
    }
    &.is-checked {
      .mdl-switch__track {
      background: rgba(#000, 0.26);
      }
      .mdl-switch__thumb {
        background: #fff;
      }
    }
  }
}

#back-button {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
