section#above-fold.color-bg
  div#battery-home
   img(src="/static/img/battery.png")
  h1.mdl-typography--title Koffiescript
  a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Nieuwe melding
  a.to-incident-list-button.mdl-button.mdl-js-button.mdl-button--colored.mdl-js-ripple-effect Bestaande meldingen
section#below-fold.color-bg
  h2.mdl-typography--title Nieuwe melding
  form#incident-form(action="#")
    div#incident-type-field-wrapper.mdl-grid
      div.mdl-color--whitemdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
        div.mdl-cell.mdl-cell--12-col
          div.mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label
            select#incident-type-field.mdl-selectfield__select(name="title" required)
              option(value="")
              each category in categories
                option(value="#{category._id}")= category.title
            label.mdl-selectfield__label(for="incident-type-field") Selecteer een incident
            span.mdl-selectfield__error Selecteer een incident type
    div#location-field-wrapper.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      input#location-field.mdl-textfield__input(type="text" name="location")
      label.mdl-textfield__label(for="location-field") Locatie
    button#save-incident-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(type="button") Verzenden
    a.to-incident-list-button.mdl-button.mdl-js-button.mdl-button--colored.mdl-js-ripple-effect Bestaande meldingen