#incident-alert.mdl-dialog.mdl-js-dialog
 div.mdl-dialog__title
   h3 Nieuw incident
 div.mdl-dialog__content
 .mdl-dialog__actions
   button#subscribe-incident-button.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='button') Accepteren
   button#dismiss-alert-button.mdl-button.mdl-js-button.mdl-js-ripple-effect(type='button') Afwijzen
