section#incident-detail
  h3= incident.category.title
  button#subscribe-to-incident-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(type="button") Los ik op
  button#resolve-incident-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(type="button") Heb ik opgelost
