html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="https://code.getmdl.io/1.1.3/material.blue-red.min.css", rel="stylesheet")
    link(href="https://rawgit.com/MEYVN-digital/mdl-selectfield/master/mdl-selectfield.min.css", rel="stylesheet")
    link(href="static/style.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div#wrapper.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.transparent-header
        div.mdl-layout__header-row
          label#back-button.mdl-button.mdl-js-button.mdl-button--icon.init.hidden
            i.material-icons arrow_back
          span.mdl-layout-title Koffieskript
          div.mdl-layout-spacer
          label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="toggle-cleaner-button")
            input#toggle-cleaner-button.mdl-switch__input(type="checkbox")
            span.mdl-switch__label
      main#main.mdl-layout__content
        div#content
    canvas#canvas
    script(src='https://code.getmdl.io/1.1.3/material.min.js')
    script(src='https://rawgit.com/MEYVN-digital/mdl-selectfield/master/mdl-selectfield.min.js')
    script(src="http://momentjs.com/downloads/moment-with-locales.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenLite.min.js')
    script(src='http://www.jaybirdsport.com/static/js/greensock/plugins/Physics2DPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js')

    script(src='static/bundle.js')
